<h3>Crossover Registration Validation</h3>

Hi {{ username }}!<br/><br/>You're one step ahead for registration.<br/><br/>
To validate, click <a href="{{ validationUrl }}">here</a>.
or copy <br/><br/>  {{ validationUrl }} <br/> <br/> this url to your browser then set new password...
<br/><br/>
Thanks!